@charset "UTF-8";

.nuguri {
	padding: 100px;
}

.inline-block {
	display: inline-block;
	margin-top: 30px;
}

.hb300 {
	height: 300px;
	resize: none
}

.dogdog {
	padding: 100px;
}

.ov-hid .blog__pagination {
	text-align: center;
}

#my {
	text-align: center;
	margin-bottom: 50px;
}

.table {
	width: 100%;
	font-size:20px;

}

.btn-success {
	position: relative;
	left: 90%;

}

.header__logo {
	padding: 1%
}

.btn-success {
	color: #fff;
	background-color: #4ABA99;
	border-color: #4ABA99;
}

.btn-success:hover {
	color: #fff;
	background-color: #3E805F;
	border-color: #3E805F;
}

.btn-danger {
	color: #fff;
	background-color: #ED7A64;
	border-color: #ED7A64;
}

.btn-danger:hover {
	color: #fff;
	background-color: #D6524F;
	border-color: #D6524F;
}

a {
	color: black
}

a:hover {
	color: #D6524F;
}
.btnDefultList{
	padding-right: 10px;
}

.btn-warning {
  color: white;
}
.btn-warning:hover {
  color: white;
}

.btn-warning {
	position: relative;
	left: 90%;
}

#btnl {
	margin-right: 150px;
}
.su{width:5%; font-weight: normal;}
.openor{width:15%}
.likesu{width:10%}
th{text-align: center;}
td{text-align: center;}
#ga{font-weight: bold; font-size: 30px; padding-bottom:50px; }
