@charset "UTF-8";

.nuguri {
	
	padding: 100px;
}

.inline-block {
	display: inline-block;
	margin-top: 30px;
}

.hb300 {
	height: 300px;
	resize: none
}

.dogdog {

	padding: 50px;
	background-image: url('../images/pa.png');
	border-radius: 8%;
	text-align: center;
	padding-right: 500px;
}

.ov-hid .blog__pagination {
	padding: 50px;
	position: relative;
	left: 30%;
}

#my {
	margin-top: 50px;
	position: relative;
	left: 400px;
}

#btnl {
	padding: 20px;
	float: right;
}

.fa-solid {
	font-size: 20px;
}

.glyphicon {
	color: red;
	font-size: 30px;
	right: 20px;
}

/* .blog__item__pic {
	width: 555px;
	height: 810px;
}  */



#jjanggu {
	width: 300px;
	height: 300px;
	position: relative;
	right: 100px;
	top: 50px;
}

.header__logo {
	padding: 1%
}

#addcoment {
	position: relative;
	bottom: 150px;
	left: 350px;
}

#listTitle {
	margin-bottom: 20px;
}

.btn-danger {
  color: #fff;
  background-color: #ED7A64;
  border-color: #ED7A64;
}
.btn-danger:hover {
  color: #fff;
  background-color: #D6524F;
  border-color: #D6524F;
}
