.filter-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 800px;
  z-index: 100;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

#closeImg {
  display: block;
  width: 5%;
  height: 5%;
  float: right;
}

.food_kind {
  width: 8ex;
}

.gyeonggido {
  display: none;
}

#pop-up-filter {
  position: fixed;
  /* z-index: 999; */
}

.pop-up-area-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-pop-up {
  background-color: RGB(215, 76, 95);
  border-width: 0px;
  color: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.btn-pop-up:hover {
  background: RGB(215, 67, 82);
}

/* .btn-pop-up-area:focus {
  border-color:  RGB(215, 67, 82);
  top: 2px;
} */

.pop-up-dongnae {
  margin-bottom: 5px;
}

.pop-up-search {
  width: 50%;
}

.foodPrice > img {
  width: 70px;
  height: 70px;
}

