@charset "UTF-8";
.form-group .error_box {
	font-size: 12px;
} 

.btn_text{
	font-size: 12px;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.email_check {
	display: inline-block;
	margin-left: -15px;
}

.btn_check{
 	border: 1px solid transparent;
}

form-group .form-control.form-nickname {
	width : 80%;
}

.error_box{
	color:#dc3545;
}

.formBlock{
	padding: 300px;
}

.box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.memberFile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formInt{
	border-bottom: 1px solid #ccc;
}

