<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BookmarkDAO">



<select id="bookmarkGetList" resultType="BookmarkVO" parameterType="hashmap" >

SELECT b.list_number , b.list_name listName , m.member_nickname ,b.list_like 
FROM bookmark b INNER JOIN member m
ON b.member_email = m.member_email
where b.list_display = 'yes' 
<if test="searchCondition != null">
				AND ${searchCondition} LIKE '%${searchKeyword}%'
			</if>
order by  b.list_date desc
</select> 




<update id="bookmarkUpdateLike"  parameterType="int">
	update bookmark set list_like=list_like+1 where list_number=#{listNum}
</update>




<update id="bookmarkUpdateLikeMa"  parameterType="int">
	update bookmark set list_like=list_like-1 where list_number=#{listNum}
</update>



<select id="bookmarkGetBestList" resultType="BookmarkVO">
SELECT  b.list_name , m.member_nickname ,b.list_like
FROM bookmark b INNER JOIN member m
ON b.member_email = m.member_email
where b.list_display = 'yes' 
order by  b.list_like desc
</select>




<select id="bookmarkGetMylist" resultType="BookmarkVO" parameterType="String">
 SELECT  list_Number, list_name , list_display , list_like 
FROM bookmark 
WHERE member_email=#{memberEmail}<!-- #{memberEmail} -->
</select>


<select id="bookmarkGetMylistDetail" resultType="MylistVO" parameterType="String">
<!-- SELECT m.list_number,s.shop_number, s.shop_title,s.shop_food,s.shop_address_si,s.shop_price_range,s.shop_tel,s.shop_realfname 
FROM shop s inner join mylist m
ON s.shop_number=m.shop_number
Where m.list_number=#{listNumber}  --> 
SELECT m.list_number, s.shop_title,s.shop_food,s.shop_address_si,s.shop_price_range,s.shop_tel,s.shop_realfname,b.list_name,s.shop_number
FROM shop s inner join mylist m
ON s.shop_number=m.shop_number  inner join bookmark b on m.list_number=b.list_number
Where m.list_number=#{listNumber}
</select>

<select id="bookmarkGetDetail" resultType="BookmarkVO" parameterType="String">
SELECT list_number,list_name,list_display
FROM bookmark
WHERE list_number=#{listNumber}
</select>



<update id="bookmarkModify" parameterType="BookmarkVO">
UPDATE  bookmark 
SET list_name=#{listName} , list_display=#{listDisplay} 
WHERE list_number=#{listNumber}
</update>

<delete id="bookmarkDelete" parameterType="String">
DELETE FROM bookmark WHERE list_number=#{listNumber}
</delete>

<resultMap type="MylistVO" id="mylistUpdate">
<result property="listNumber2" column="list_number"/>
</resultMap>

<update id="mylistUpdate" parameterType="MylistVO" >
update mylist
set list_number =#{listNumber}
where shop_number=#{shopNumber} and 
list_number=#{listNumber2}
</update>


<delete id="mylistDelete" parameterType="MylistVO" >
DELETE FROM mylist WHERE list_number=#{listNumber} and shop_number= #{shopNumber}
</delete>

<select id="TotalbookmarkCount" resultType="int">
SELECT  count(b.list_name) 
FROM bookmark b INNER JOIN member m
ON b.member_email = m.member_email
where b.list_display = 'yes'
order by  list_date desc
</select>

<insert id="MylistInsert" parameterType="BookmarkVO">
insert into bookmark(list_number,list_name,list_display,list_like,member_email,list_date,defult_list) 
values(list_number_seq.nextval,#{listName},#{listDisplay},0,#{memberEmail},sysdate,'no')
</insert>
</mapper>