<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BookmarkDAO">



<select id="bookmarkGetList" resultType="BookmarkVO" parameterType="hashmap" >

SELECT b.list_number , b.list_name listName , m.member_nickname ,b.list_like 
FROM bookmark b INNER JOIN member m
ON b.member_email = m.member_email
where b.list_display = 'yes' 
<if test="searchCondition != null">
				AND ${searchCondition} LIKE '%${searchKeyword}%'
			</if>
order by  b.list_date desc
</select> 




<update id="bookmarkUpdateLike"  parameterType="int">
	update bookmark set list_like=list_like+1 where list_number=#{listNum}
</update>




<update id="bookmarkUpdateLikeMa"  parameterType="int">
	update bookmark set list_like=list_like-1 where list_number=#{listNum}
</update>



<select id="bookmarkGetBestList" resultType="BookmarkVO">
SELECT  b.list_name , m.member_nickname ,b.list_like
FROM bookmark b INNER JOIN member m
ON b.member_email = m.member_email
where b.list_display = 'yes' 
order by  b.list_like desc
</select>




<select id="bookmarkGetMylist" resultType="BookmarkVO" parameterType="String">
 SELECT  list_Number, list_name , list_display , list_like 
FROM bookmark 
WHERE member_email='eq@naver.com'<!-- #{memberEmail} -->
</select>


<select id="bookmarkGetMylistDetail" resultType="MylistVO" parameterType="String">
SELECT m.list_number,s.shop_number, s.shop_title,s.shop_food,s.shop_address_si,s.shop_price_range,s.shop_tel,s.shop_realfname 
FROM shop s inner join mylist m
ON s.shop_number=m.shop_number
Where m.list_number=#{listNumber}  

</select>





</mapper>