<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportDAO">

	<select id="reportGetListManager" resultType="ReportVO">
		SELECT * FROM report
	</select>
	
	<select id="reportDeleteManager" parameterType="ReportVO" resultType="ReportVO">
		SELECT rp.report_number reportNumber, rv.review_number reviewNumber, rv.member_email logemail
		FROM report rp INNER JOIN review rv
		                ON rp.review_number = rv.review_number
		WHERE rp.report_number=#{reportNumber}
	</select>

</mapper>