<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shopDAO">


<!-- 아직 미완성 필터창 검색값과인데 임의로 결과값을 넣음  -->
<!-- parameter : 받아오는 값 || result : 보내는 값 -->
<select id="shopPageGetList"  parameterType="String" resultType="ShopVO">

select *
from shop s
where s.shop_food LIKE '%'||#{query}||'%' or s.shop_address LIKE '%'||#{query}||'%'  or s.shop_title LIKE '%'||#{query}||'%' 

</select>

<select id="shopPageFilterGetList" parameterType="hashmap" resultType="ShopVO">

SELECT *   
FROM shop s
WHERE s.shop_food LIKE '%'||#{query}||'%' or s.shop_address LIKE '%'||#{query}||'%'  or s.shop_title LIKE '%'||#{query}||'%'
<if test='foodKind.koreanFood != null' >
AND s.shop_food LIKE '%'||#{foodKind.koreanFood}||'%'
</if>
<if test='foodKind.japaneseFood != null' >
AND s.shop_food LIKE '%'||#{foodKind.japaneseFood}||'%'
</if>
<if test='foodKind.chineseFood != null' >
AND s.shop_food LIKE '%'||#{foodKind.chineseFood}||'%'
</if>
<if test='foodKind.westernFood != null' >
AND s.shop_food LIKE '%'||#{foodKind.westernFood}||'%'
</if>
<if test='foodKind.worldFood != null' >
AND s.shop_food LIKE '%'||#{foodKind.worldFood}||'%'
</if>
<if test='foodKind.buffet != null' >
AND s.shop_food LIKE '%'||#{foodKind.buffet}||'%'
</if>
<if test='foodKind.cafe != null' >
AND s.shop_food LIKE '%'||#{foodKind.cafe}||'%'
</if>
<if test='foodKind.pup != null' >
AND s.shop_food LIKE '%'||#{foodKind.pup}||'%'
</if>


</select>




	<!--  	
		SQL 형태 : SELECT
		이름 : shopGetList
		받는 값(parameterType) : 없음
		보내는 값(resultType) : ShopVO
		사용 : 가게 전체 리스트를 검색하여 ShopVO형으로 보냄 
	-->
	<select id="shopGetList" resultType="ShopVO">
		SELECT * FROM shop
	</select>
	
	<!-- 
		SQL 형태 : INSERT
		이름 : shopInsert
		받는 값 (parameterType) : ShopVO
		보내는 값(resultType) : 없음 ( Default -> int )
		사용 : ShopVO에 담겨있는 내용을 DB에 Insert함
	 -->
	 <insert id="shopInsert" parameterType="ShopVO">
	 	INSERT INTO shop (shop_number, shop_title, shop_tel
                     , shop_price_range, shop_food, shop_park, shop_time
                     , shop_holiday, shop_content
                     , shop_create_date, shop_modify_date
                     , shop_address, shop_address_si
                     , shop_address_gu, shop_address_dong
                     , shop_realfname
                     )
		VALUES(shop_number_seq.nextval, #{shopTitle}, #{shopTel}
		             , #{shopPriceRange}, #{shopFood}, #{shopPark}, #{shopTime}
		             , #{shopHoliday}, #{shopContent}
		             , TO_DATE(SYSDATE, 'RRRR-MM-DD'), TO_DATE(SYSDATE, 'RRRR-MM-DD')
		             , #{shopAddress}, #{shopAddressSi}
		             , #{shopAddressGu}, #{shopAddressDong}
		             , #{shopRealfname}
		             )
	 </insert>

</mapper>